# Entornos y dependencias
venv/
__pycache__/
*.pyc
.env

# Protección Biométrica y Datasets
/kohya_dataset/
/processed_dataset/
/raw_dataset/
*.jpg
*.jpeg
*.png
*.webp

# Binarios y Modelos Pesados
*.safetensors
*.ckpt
*.pt
*.pth

# Logs y temporales
*.log
/tmp/
